.footer2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
}

.left > img {
  width: 65px;
  height: 68px;
  margin-right: 25px;
}

.left > a > img {
  width: 65px;
  height: 68px;
  margin-right: 25px;
}

.left > a > .MuiSvgIcon-root {
  font-size: 70px;
  color: white;
}

.right a {
  display: flex;
  align-items: center;
}
.right > a > img {
  width: 70px;
  height: 70px;
}

.right > a > p {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 970px) {
  .left > img {
    width: 30px;
    height: 30px;
  }

  .left > .MuiSvgIcon-root {
    font-size: 35px;
    color: white;
  }

  .right > img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .right > p {
    font-size: 10px;
    color: white;
  }
}
