.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  border-radius: 50px;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.header-menu>li{
  cursor: pointer;
}

.header-menu>li:hover{
  color: var(--gold);
  cursor: pointer;
}

.the-best-ad>span{
  z-index: 2;
}

.the-best-ad>div{
  position: absolute;
  background-color: var(--gold);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}

@media screen and (max-width : 768px){
  .header > :nth-child(2){
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
  .header-menu{
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }
}
